{% extends 'measure/base.html' %}
{% block content %}
<div class="container">
    <form method="post">
        {% csrf_token %}
        Código:<input type="text" name="codigo">
        Value:<input type="number" name="value">
        Scale:<input type="text" name="scale">
        Latitud:<input type="number" name="latitud">
        Longitud:<input type="number" name="longitud">
        Área:<input type="number" step="0.01" name="area">
        <label for="sel-terreno">
            Terreno
        </label>
        <select name="terreno" id="sel-terreno">
          <option value="Planicie">Planicie</option>
          <option value="Ladera">Ladera</option>
          <option value="Cenagoso">Cenagoso</option>
          <option value="Desertico">Desertico</option>
        </select>
        <button type="submit">Adicionar</button>
    </form>
    {% for measure in measures %}
    <ul class="list-group">
        <li class="list-group-item">Código: {{measure.codigo}}, Valor: {{measure.value}}, Scale:{{measure.scale}}, Latitud: {{measure.latitud}}, Longitud: {{measure.longitud}}, Área: {{measure.area}}, Terreno: {{measure.terreno}}</li>
    </ul>
    {% endfor %}
</div>
{% endblock %}
